@use '../../../styles/mixin';
@use '../../../styles/vars';


.techno__card {
	width: 80px;
	height: 80px;
	border-radius: 8px;
	margin: 1rem;
	padding: 0.5rem 0.5rem 0;
	// background: rgba(255, 255, 255, 0.8);
	// box-shadow: 0 0.1rem 1rem rgba(0, 0, 0, 0.3);
	box-shadow: inset 2px 2px vars.$primary-color;
	border: 2px solid vars.$primary-color;

	position: relative;
	top: 0;
	left: 0;
	transform: rotateX(0) rotateY(0) rotateZ(0);
	transition: box-shadow 0.35s, top 0.3s, left 0.3s, transform .4s, background-color 0.25s;

	box-shadow:
		0 0 0 0 vars.$primary-color,
		0 0 0 0 vars.$primary-color,
		0 0 0 0 vars.$primary-color,
		0 0 0 0 vars.$primary-color,
		0 0 0 0 vars.$primary-color,
		0 0 0 0 vars.$primary-color;


	&:hover {
		cursor: pointer;
		top: -6px;
		left: -5.5px;
		transform: rotateX(5deg) rotateY(3deg) rotateZ(0.25deg);
		transition: box-shadow .35s, top .3s, left .3s, transform .4s, outline-color .4s;

		box-shadow:
			0.5px 1px 0 0 vars.$primary-color,
			1.5px 2px 0 0 vars.$primary-color,
			2.5px 3px 0 0 vars.$primary-color,
			3.5px 4px 0 0 vars.$primary-color,
			4.5px 5px 0 0 vars.$primary-color,
			5.5px 6px 0 0 vars.$primary-color;
	}

	@include mixin.breakpoint(desktop) {
		height: 120px;
		width: 120px;

	}

	&__header {
		height: 50px;
		display: flex;
		justify-content: center;

		@include mixin.breakpoint(desktop) {
			height: 80px;
		}

		&-img {
			object-fit: cover;
			margin: 0.5rem;
		}
	}

	&__content {
		display: none;
		height: 30px;
		padding-top: 0.5rem;
		text-align: center;

		@include mixin.breakpoint(desktop) {
			height: 40px;
		}

		&-title {
			font-family: vars.$text-font;
			color: vars.$primary-color;
			font-size: 0.7rem;
			font-weight: 800;

			@include mixin.breakpoint(desktop) {
				font-size: 0.9rem;
			}
		}

		&-text {
			padding-top: 8px;
			font-size: 0.8rem;
			color: vars.$primary-color;
		}
	}
}

.techno__card:hover>.techno__card__content {
	display: block;
}

