@use '../../styles/mixin';
@use '../../styles/vars';

.cards-techno__container{
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;
	margin-top: 2rem;
	background-color: vars.$secondary-color-transparent;

	@include mixin.breakpoint(desktop) {
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-evenly;
		
	}
}
