@use '../../styles/mixin';
@use '../../styles/vars';

#sectionHero {
	// background-color: vars.$primary-color;
	display: flex;
	flex-direction: column;
	align-items: flex-start;

	min-height: calc(100vh - 292px);


	background-image: url('../../assets/images/hero-background.png');
	background-repeat: repeat;
	background-size: contain;
	// background-color: #F9F6ED;





	padding: 0;

	@include mixin.breakpoint(desktop) {
		// justify-content: space-between;
		padding-right: 0;
	}
}

.hero__container {
	flex-grow: 1;
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	padding: 2rem;

	@include mixin.breakpoint(desktop) {
		padding: 3rem;

		flex-direction: row;
	}
}

.presentation {
	flex-grow: 1;



	width: 100%;
	padding: 0.5rem;
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
	// margin-top: - vars.$headerHeight; 
	/* Compense la hauteur de l'en-tête pour centrer le container*/

	@include mixin.breakpoint(tablet) {}

	@include mixin.breakpoint(desktop) {
		width: 50%;
		align-items: flex-start;
	}

	&__links {
		display: flex;
		flex-wrap: wrap;
		flex-direction: column;
		justify-content: center;
		gap: 2.5rem;
		margin-top: 2.5rem;

		@include mixin.breakpoint(tablet) {
			width: 100%;
			flex-direction: row;
			justify-content: flex-start;

		}
	}

	&__heading {
		width: 100%;
		max-width: 100%;

		&__title {
			// TITLE GRADIENT
			/* Fallback: Set a background color. */
			background-color: vars.$primary-color;

			/* Create the gradient. */
			background: linear-gradient(to right, vars.$primary-color, #802e4a, #af4852, #d76a52, vars.$highlight-color);

			/* Set the background size and repeat properties. */
			background-size: 100%;
			background-repeat: repeat;

			/* Use the text as a mask for the background. */
			/* This will show the gradient as a text color rather than element bg. */
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
			-moz-background-clip: text;
			-moz-text-fill-color: transparent;
		}
	}

	&__texts {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: flex-start;
		gap: 1rem;
		margin: 2.5rem 0 1.25rem 0;
		text-align: left;
	}
}

// .hero-img {
// 	&__container{
// 		display : none;	

// 		@include mixin.breakpoint(desktop) {
// 			overflow: hidden;
// 			width: 50%;
// 			display: flex;
// 			justify-content: center;
// 			align-items: flex-end;
// 			flex-direction: column;
// 			margin-top: - vars.$headerHeight; /* Compense la hauteur de l'en-tête pour centrer le container*/
// 		}
// 	}

// 	&__image{
// 		max-height: 648px;
// 		max-width: 648px;
// 		min-height: 148px;
// 		min-width: 148px;
// 		object-fit: contain;
// 		overflow: hidden;	
// 	}
// }


.hero-img {
	&__container {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;

		@include mixin.breakpoint(desktop) {
			overflow: hidden;
			width: 50%;
			display: flex;
			justify-content: center;
			align-items: flex-end;
			flex-direction: column;
			margin-top: - vars.$headerHeight;
			/* Compense la hauteur de l'en-tête pour centrer le container*/
		}
	}

	&__image {
		object-fit: contain;
		overflow: hidden;
		width: 100%;
		min-width: 148px;
		max-width: 300px;
		min-height: 148px;
		overflow: hidden;

		@include mixin.breakpoint(tablet) {
			min-width: 380px;
			max-width: 480px;
		}

		@include mixin.breakpoint(desktop) {
			min-width: 481px;
			max-width: 700px;
		}

		@include mixin.breakpoint(desktopXL) {
			width: 901px;
		}
	}
}



.custom-shape-divider-bottom-1709141769 {
	// position: absolute;
	// bottom: 0;
	// left: 0;
	width: 100%;
	overflow: hidden;
	line-height: 0;
}

.custom-shape-divider-bottom-1709141769 svg {
	position: relative;
	display: block;
	width: calc(145% + 1.3px);
	height: 194px;
}

.custom-shape-divider-bottom-1709141769 .shape-fill {
	fill: vars.$highlight-light;
}