@use '../../styles/mixin';
@use '../../styles/vars';

#sectionHero {
	display: flex;
	flex-direction: column;
	align-items: flex-start;	
	min-height: calc(100vh - (vars.$headerHeight + 4px));
	padding: 0;
	background-image: url('../../assets/images/hero-background.png');
	background-repeat: repeat;
	background-size: contain;	
	
	@include mixin.breakpoint(desktop) {
		display: flex;
		justify-content: center;
		align-items: center;
	}
}

.hero__container {
	flex-grow: 1;
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	padding: 2rem 2rem 0;

	@include mixin.breakpoint(desktop) {
		flex-direction: row;	
		max-width: 90%;		
	}
	@include mixin.breakpoint(desktop) {
		padding: 3rem 3rem 0;
		max-width: 80%;	
	}

	&__img-plante-background{
		display: none;

		@include mixin.breakpoint(desktop) {
			display: block;
			position: absolute;
			top: 0;
			left: -10px;		
			z-index: 20;
			width: 162px;
			height: 359px;
		}
		@include mixin.breakpoint(desktopXL) {
			left: 0;	
			width: 192px;
			height: 399px;
		}

	
	}
}

.presentation {
	flex-grow: 1;
	width: 100%;
	padding: 0.5rem;
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;

	@include mixin.breakpoint(tablet) {}

	@include mixin.breakpoint(desktop) {
		align-items: flex-start;
	}

	&__links {
		display: flex;
		flex-wrap: wrap;
		flex-direction: column;
		justify-content: center;
		gap: 2.5rem;
		margin: 2rem 0 3rem;

		@include mixin.breakpoint(tablet) {
			width: 100%;
			flex-direction: row;
	
		}

		@include mixin.breakpoint(desktop) {
			justify-content: flex-start;
			align-items: center;
		}
	}

	&__heading {
		// width: 100%;
		max-width: 100%;
		&__title {
			text-align: center;

			// TITLE GRADIENT
			/* Fallback: Set a background color. */
			background-color: vars.$primary-color;

			/* Create the gradient. */
			background: linear-gradient(to right, vars.$primary-color, #802e4a, #af4852, #d76a52, vars.$highlight-color);

			/* Set the background size and repeat properties. */
			background-size: 100%;
			background-repeat: repeat;

			/* Use the text as a mask for the background. */
			/* This will show the gradient as a text color rather than element bg. */
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
			-moz-background-clip: text;
			-moz-text-fill-color: transparent;

			@include mixin.breakpoint(desktop) {
				text-align: unset;
			}
		}
	}

	&__texts {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: flex-start;
		gap: 1rem;
		margin: 2.5rem 0 1.25rem 0;
		text-align: left;
	}
}

.hero-img {
	&__container {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;

		@include mixin.breakpoint(desktop) {
			overflow: hidden;
			min-width: 50%;
			display: flex;
			justify-content: center;
			align-items: flex-end;
			flex-direction: column;
			margin-top: - vars.$headerHeight;
			/* Compense la hauteur de l'en-tête pour centrer le container*/
		}
	}

	&__image {
		object-fit: contain;
		overflow: hidden;
		max-width: 90%;
		min-height: 148px;
		max-height: fit-content;
		overflow: hidden;

		@include mixin.breakpoint(tablet) {
			// width: 65%;
		}
		@include mixin.breakpoint(desktop) {
			// max-width: 80%;

		}
	}
}

.custom-shape-divider-bottom-1709141769 {
	// position: absolute;
	// bottom: 0;
	// left: 0;
	width: 100%;
	overflow: hidden;
	line-height: 0;
}

.custom-shape-divider-bottom-1709141769 svg {
	position: relative;
	display: block;
	width: calc(145% + 1.3px);
	height: 194px;
}

.custom-shape-divider-bottom-1709141769 .shape-fill {
	fill: vars.$background-neutral-color;
}