@use '../../../styles/mixin';
@use '../../../styles/vars';

// BTN ICONE MOBILE
.header__navbar__btn-menu-mobile {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 2.5rem;
	color: vars.$primary-color;
}

// BTN ICONE MOBILE - MENU MOBILE OUVERT
.header__navbar__btn-menu-mobile--open {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 2.5rem;
	position: fixed;
	top:28px;  //= padding header (6rem headerHeight/2 --> =3rem) - (2.5rem BtnHeight/2 --> =1.25rem)--> 1.75rem = 28px
	right: 32px;
	border: 2px solid vars.$primary-color;
	background-color: vars.$primary-color-light-30;
	color: vars.$secondary-color;
}

.header__navbar__btn-menu-mobile--open:hover{
	background-color: vars.$primary-color-light-60;
}
.header__navbar__btn-menu-mobile--open:focus, .header__navbar__btn-menu-mobile--open:active{
	box-shadow: inset 2px 2px  vars.$primary-color;
}

@include mixin.breakpoint(desktop) {
	.header__navbar__btn-menu-mobile {
		display: none;
	}
}