// COULEURS 
$primary-color: #192730;
$secondary-color: #f9f3f0;

$highlight-color:#FF846D;
$highlight-color2:#EFC42B;

// ALTERNATIVE LIGHT
$light-color: #f9f9f9;
$light-color2: #FFEFCA;

// ALTERNATIVE DARK
$footer-backGround-color: #282828;

//POLICES
$main-font: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
$main-font-color: #f9f3f0;

//TAILLES
$headerHeight: 4rem;