// COULEURS 
$primary-color: #511A3C;
$secondary-color: #faf7ed;
$color3:#886073;
$color4: #F79250;
$highlight-color:#F79250;

// $secondary-original-color:#fff6d0;

// ALTERNATIVE LIGHT
$light-color: #f9f9f9;
$light-color2: #FFEFCA;

// ALTERNATIVE DARK
$footer-backGround-color:#312F28;

//POLICES
// $primary-font: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
$primary-font: "Quicksand", sans-serif;
$primary-font-color: #511A3C;

// $primary-font-color: #f9f3f0;

$seccondary-font: "League Spartan", sans-serif;
$third-font: "Pompiere", sans-serif;

//TAILLES
$headerHeight: 6rem;

