// COULEURS 
$purple-dark: #511A3C;
$mauve: #886073;
$mauve-light:#b8a0a9;
$white-fade: rgb(250, 247, 237);
$white-fade-transparent:rgba(250, 247, 237, 0.6);
$orange:#F79250;
$orange-light:#F6E2D5;
$gray-dark:#312F28;


// UI
$primary-color: $purple-dark;
$primary-light:$mauve-light;

$secondary-color: $white-fade;

$highlight-color:$orange;
$highlight-light:$orange-light;

$footer-backGround-color:$gray-dark;

// $secondary-original-color:#fff6d0;


//POLICES
// $text-font: "Quicksand", sans-serif, ;
$heading-font: "Pompiere", sans-serif;

// $text-font: "IBM Plex Mono", monospace;
// $text-font: "Roboto", sans-serif;
$text-font: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
// $fallback-font: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;


//TAILLES
$headerHeight: 6rem;

