@use './reset.css';
@use './mixin';
@use './vars';

/*==================== STYLE ========================*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  width: 100vw;
  max-width: 100%;
  overflow-x: hidden;
  display: flex;
  flex-flow: column;

  // FONT
  font-family: vars.$text-font;
  color: vars.$primary-color;
  font-weight: 500;
  font-size: 1rem;
  word-spacing: 4px;
  letter-spacing: 1px;
  line-height: 1.08;
  line-height: 1.2;
  @include mixin.breakpoint(desktop) {
    font-size: 1.15rem;
    line-height: 1.25;
  }
}

section {
  min-height: 100vh;
  min-width: 100vw;
  padding: 1.5rem;

  @include mixin.breakpoint(tablet) {
    padding: 2rem;
  }
  @include mixin.breakpoint(desktop) {
    padding: 2.5rem;
  }
  @include mixin.breakpoint(desktopXL) {
    padding: 3rem;
  }
}


// TYPOGRAPHY
h1 {
  width: fit-content;
  color: vars.$primary-color;
  font-family: vars.$heading-font;
  font-size: 3.25rem;
  font-weight: 800;
  text-transform: uppercase;
  word-spacing: 1.25rem;
  line-height: 125%;

  @include mixin.breakpoint(tablet) {
    font-size: 4rem;
  }

  @include mixin.breakpoint(desktop) {
    font-size: 4.25rem;
  }

  @include mixin.breakpoint(desktopXL) {
    font-size: 5rem;
  }
}

h2 {
  color: vars.$primary-color;
  margin-bottom: 2.5rem;
  font-family: vars.$heading-font;
  font-size: 2.25rem;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 4px;
  word-spacing: 1.25rem;
  -webkit-text-stroke: 2px vars.$primary-color;


  @include mixin.breakpoint(tablet) {
    font-size: 2.75rem;
  }
  @include mixin.breakpoint(desktop) {
    font-size: 3rem;
  }
  @include mixin.breakpoint(desktopXL) {
    font-size: 3.25rem;
  }
}


// TEXT ACCENT
em {
  font-weight: bold;
}
.font-accent__text {
  color: vars.$primary-color;
}
.font-accent__text-highlight {
  color: vars.$highlight-color;
}
.font-accent__text-offWhite {
  color: vars.$secondary-color;
}
.font-accent__heading {
  color: vars.$highlight-color;
  -webkit-text-fill-color: vars.$highlight-color;
  letter-spacing: 4px;
  text-shadow:
    -2px -2px 0 vars.$primary-color,
    2px -2px 0 vars.$primary-color,
    -2px 2px 0 vars.$primary-color,
    2px 2px 0 vars.$primary-color;
}

// BOUTONS ET LIENS
.btn {
  display: flex;
  min-height: 48px;
  padding: 8px 16px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;  
  font-size: 1.25rem;
  @include mixin.breakpoint(desktop) {
    font-size: 1.35rem;
  }
  @include mixin.breakpoint(desktopXL) {
    font-size: 1.45rem;
  }

  // RETRO DESIGN    
  border: 2px solid vars.$primary-color;
  box-shadow: 4px 4px vars.$primary-color;
  transition: 0.25s;
}

a {
  color: vars.$primary-color;
  font-family: vars.$heading-font;
  font-weight: 600;
  word-spacing: 4px;
  text-decoration: inherit;
  text-transform: uppercase;
  transition: 0.25s;
}
a:hover {
  color: vars.$highlight-color;
}

.link-like-btn {
  display: flex;
  min-height: 48px;
  padding: 8px 16px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 16px;
  font-size: 1.25rem;
  @include mixin.breakpoint(desktop) {
    font-size: 1.35rem;
  }
  @include mixin.breakpoint(desktopXL) {
    font-size: 1.4rem;
  }

  // RETRO DESIGN      
  border: 2px solid vars.$primary-color;
  box-shadow: 4px 4px vars.$primary-color;
  transition: 0.25s;
}

// EFFETS RETRO DESIGN
.btn:hover,
.link-like-btn:hover {
  transform: translate(calc(4px - 1px));
  box-shadow: calc(4px - 3px) calc(4px - 3px);
}

.btn:focus,
.link-like-btn:focus,
.btn:active,
.link-like-btn:active {
  box-shadow: inset calc(4px - 2px) calc(4px - 2px) vars.$primary-color;
  transform: translate(calc(4px - 1px));
  -webkit-text-stroke: 1.5px vars.$primary-color;
}

// BOUTONS ET LIENS - COULEURS 
.btn--primary,
.link--primary {
  background-color: vars.$orange;
  color: vars.$primary-color;
}
.btn--primary:hover,
.link--primary:hover {
  color: vars.$primary-color ;
}

.btn--secondary,
.link--secondary {
  background-color: vars.$background-neutral-color;
  color: vars.$primary-color;
}
.btn--secondary:hover,
.link--secondary:hover {
  color: vars.$primary-color ;
}

// ICONES/LIENS - COULEURS 
.link-color_white {
  color: vars.$secondary-color;
}
.link-color_white:hover {
  color: vars.$highlight-color;
}

.link-color_primary {
  color: vars.$primary-color;
}
.link-color_primary:hover {
  color: vars.$highlight-color;
}