@use '../../styles/mixin';
@use '../../styles/vars';

.app__container {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

.app__content {
	display: flex;
	justify-content: center;
	flex-direction: column;
	justify-content: space-between;
	margin-top: vars.$headerHeight;

	@include mixin.breakpoint(desktop) {
		margin-top: calc(vars.$headerHeight *1.25);
	}
}