@use '../../styles/mixin';
@use '../../styles/vars';

#sectionPortfolioProjects {
	background-color: vars.$background-neutral-color;
	padding-top: calc(vars.$headerHeight + 2rem);
	color: vars.$primary-color;


	@include mixin.breakpoint(desktop) {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
}

#sectionPortfolioProjects h2 {
	margin-bottom: 3rem;
	@include mixin.breakpoint(desktop) {
		margin-bottom: 4rem;
	}
}

.portfolio-projects {
	&__header {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 1rem;
		width: 100%;
		@include mixin.breakpoint(desktop) {
			flex-direction: row;
			gap: 6rem;
		}
	}

	&__container {
		display: flex;
		flex-flow: row wrap;
		align-items: center;
		justify-content: center;
		gap: 20px;
		width: 100%;
		margin-bottom: 4rem;

		@include mixin.breakpoint(desktop) {
			max-width: 80%;
		}
	}

}