@use '../../styles/mixin';
@use '../../styles/vars';


#sectionAbout {
	min-height: calc(100vh - 8rem);
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: flex-start;
	background-image: url('../../assets/images/hero-background.png');
	padding: 1rem;

	position: relative;
	z-index: 1;

	@include mixin.breakpoint(tablet) {
		padding: 2rem;
	}

	@include mixin.breakpoint(desktop) {
		padding: 3rem;
		justify-content: center;
		align-items: center;
		gap: 2rem;
	}
}

.about {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 3rem;
	min-height: calc(100vh - 12rem);
	margin-top: vars.$headerHeight;
	margin-bottom: calc(vars.$gemsImgAboutSectionMobile / 3);

	@include mixin.breakpoint(tablet) {}

	@include mixin.breakpoint(desktop) {
		max-width: 90%;
		flex-direction: row;
		align-items: flex-start;
		gap: 4rem;
		margin-bottom: 0;
		margin-right: 2rem;
		gap: 2rem;
	}

	@include mixin.breakpoint(desktopXL) {
		max-width: 80%;
		margin-right: 4rem;
	}

	&__header {
		display: flex;
		flex-flow: row wrap;
		justify-content: center;
		gap: 1rem;
		width: 100%;

		@include mixin.breakpoint(desktop) {
			flex-flow: row nowrap;
		}

		&__img {
			object-fit: cover;
			max-width: 80%;

			@include mixin.breakpoint(desktop) {
				max-width: 20%;
				min-height: 300px;
				min-width: 300px;
			}

			@include mixin.breakpoint(desktopXL) {
				max-width: 400px;
				max-height: 400px;
			}
		}

		&__title {
			flex-grow: 1;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
		}
	}

	&__container {
		flex-grow: 1;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 1.5rem;
		border-radius: 25px;
		padding: 3rem 2rem;
		margin-bottom: 150px;
		background-color: vars.$white-fade-transparent;

		@include mixin.breakpoint(desktop) {
			margin-bottom: 0;
			padding: 4rem 5rem 4rem;
			max-width: 80%;
		}

		&__text {
			text-align: justify;

			@include mixin.breakpoint(desktop) {
				text-align: left;
			}
		}


		&__links {
			display: flex;
			flex-direction: column;
			justify-content: center;
			flex-wrap: wrap;
			gap: 1.5rem;
			margin-top: 1.25rem;

			@include mixin.breakpoint(desktop) {
				flex-direction: row;
				align-items: flex-end;
			}

			&__contact-link {
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;

				&__img {
					width: 100px;
					height: 50px;

					@include mixin.breakpoint(desktop) {
						width: 120px;
						height: 60px;
						margin-bottom: -6px;
					}
				}
			}

			&__contact-link a {
				width: 100%;

				@include mixin.breakpoint(desktop) {
					width: auto;

				}

			}

		}
	}
}

.section-about__about-background-image {
	position: absolute;
	bottom: 12px;

	z-index: -1;
	background-image: url('../../assets/images/gems-purple.png');
	background-size: contain;
	background-repeat: no-repeat;

	width: 270px;
	height: vars.$gemsImgAboutSectionMobile;

	@include mixin.breakpoint(desktop) {
		bottom: 12px;
		left: 24px;
		width: 370px;
		height: 375px;
	}

	@include mixin.breakpoint(desktopXL) {
		left: 64px;
		width: 450px;
		height: 455px;
	}
}