@use '../../styles/mixin';
@use '../../styles/vars';

.modal {
	&__overlay {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		background: rgba(0, 0, 0, 0.5);
		z-index: 100;
	}

	&__content {
		min-height: 80vh;
		max-height: 80vh;  // Ajustez la hauteur maximale selon vos besoins
		overflow-y: auto;

		width: 80vw;
		background: vars.$secondary-color;
		// border-radius: 8px;
		box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
		position: relative;

		&__header {
			min-height: 2rem;
			padding: 12px;
			display: flex;
			justify-content: space-between;
			align-items: center;
			margin-bottom: 12px;
			background-color: vars.$highlight-color;

			&__project-name {
				flex-grow: 1;
				text-align: center;
				font-size: 1.5rem;
				font-weight: 600;
				color: vars.$secondary-color;
			}

			&__btn-icon {
				cursor: pointer;

				&--close-modal {
					padding: 8px;
					font-size: 24px;
					color: vars.$secondary-color;
					transition: color 0.3s ease;

					&:hover {
						color: vars.$primary-color;
					}
				}
			}

		}

		&__body {
			display: flex;
			flex-direction: column;
			align-items: center;

			&__hero{
				max-width: 80%;
				height:auto;
				&-image {
					display: block;
					object-fit: contain;
					width: 100%;
				}
			}
		}
	}
}