@use '../../styles/mixin';
@use '../../styles/vars';

.footer {
    background-color: vars.$footer-backGround-color;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2.5rem;
    gap: 2.5rem;

    &__container{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 6rem;
        width: 100%;
        
        &__logo{
            height:120px;
            // width: 80px;
            // height: 36px;
        }

        &__social-media{
            width: fit-content;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            gap:1rem;
        }
    }

    &__copyright-text {
        font-size: 1rem;
        font-weight: 300;
    }
}








